@page
@using System.Drawing;
@using Nursing_Planner.Models
@model Nursing_Planner.Pages.PatientModel
@using System.Linq;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
}

<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-row">
        @foreach (var patient in Model.patients )
        { 
        <li class="nav-item">
            @* asp-page-handler defines the function that will handle the post.
            asp-route-curr defines the variables and their corresponding name that will be sent to the function *@
            <form method="post" asp-page-handler="ChangePage" asp-route-curr="@patient.RoomNumber">
                <button class="btn">@patient.RoomNumber</button>
            </form>
        </li>
        }
    </ul>
</div>

<h1>Time table for @(Model.CurrentPatient.RoomNumber)</h1>

<form method="post" asp-page-handler="AddPatientTask" asp-route-curr="@Model.CurrentPatient.RoomNumber" class="card p-3">
    <div class="form-group mb-0 align-middle">
        <label>Time</label>
        <select name="time" asp-items="@(new SelectList(Model.displayTimesList))" class="mr-5"></select>
        <label>Task</label>
        <select name="task" asp-items="@(new SelectList(Model.taskList))" class="mr-5"></select>
        <label>Interval</label>
        <select name="interval" asp-items="@(new SelectList(Model.intervalList))" class="mr-5"></select>
        <button class="btn btn-primary">Add</button>
    </div>
</form>

<table class="table mt-1">
    <thead>
        <tr>
            <th scope="col">Time</th>
            <th></th>
        </tr>
    </thead>
    @* For each time slot, set the patient *@
    @foreach (var time in Model.timesList)
    {
        <tr>
            <td>@time.ToString("HH:mm")</td>
                <td>
                @if (Model.CurrentPatient.Task.ContainsKey(time))
                {
                    string colour = "none";
                    @foreach (var task in Model.CurrentPatient.Task[time])
                    {
                        foreach (var x in Model.tasks) 
                        {
                            if(x.Key == task)
                            {
                                colour = x.Value;
                            }
                        }
                        <a><div class="colour-square" style='background-color: @(colour)'></div>@(task)</a>
                    }
                }
            </td>
        </tr>
    }
    
</table>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}





