@page
@model Nursing_Planner.Pages.SettingsModel
@{
}
<form method="post" asp-page-handler="ChangeSettings">
    <div class="form-group test1 mb-0">
        <div style="display:block">
            <label for="start">Start Time</label>
            <select name="start" asp-items="@(new SelectList(Model.displayTimesList))"></select>
        </div>
        <div style="display:block">
            <label for="end">End Time</label>
            <select name="end" asp-items="@(new SelectList(Model.displayTimesList))"></select>
        </div>
        <div style="display:block">
            <label for="interval">Interval</label>
            <select name="interval" asp-items="@(new SelectList(Model.intervalList))"></select>
        </div>
        <div style="display:block">
            <label for="patients">Number Of Patients</label>
            <select name="patients" id="numPatients" onchange="myFunction()">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
            </select>
        </div>
        <button class="btn btn-primary">Apply</button>
    </div>
</form>

@* Add or remove specific patients *@
<div>
    <div style="display:block">
        <form method="post" asp-page-handler="AddPatient">
            <label for="roomNumber">Patient Room Number</label>
            <input type="text" name="roomNumber">
            <button class="btn btn-primary">Add</button>
        </form>
    </div>
    <table class="table mt-5">
        @foreach (var patient in Model.patientList)
        {
            <tr>
                <td>@(patient.RoomNumber)</td>
                <td>
                    <form method="post" asp-page-handler="Delete" asp-route-id="@patient.Id">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </table>
</div>

@* Add remove or change colours of task types *@
<div>
    <div style="display:block">
        <form method="post" asp-page-handler="AddTaskToList">
            <label for="task">Task Name</label>
            <input type="text" name="task">
            <label for="colour">Colour</label>
            <input type="color" name="colour" value="#ffffff">
            <button class="btn btn-primary">Add</button>
        </form>
    </div>
    <table class="table mt-5">
        @* Could use a for loop to display multiple in a row *@
        @foreach (var task in Model.taskList)
        {
            <tr>
                <td>
                    <input type="color" name="colour" value="@(task.Value)" style="display: inline">
                    <div class="change" style="display: inline">
                        <div id="displayDiv" style="display: inline">
                            <p style="display: inline">@(task.Key)</p>
                            <button id="change" style="display: inline" class="btn btn-primary">Change</button>
                        </div>
                        <div id="changeDiv" style="display:none">
                            <form method="post" asp-page-handler="ChangeTask" asp-route-id="@task.Key">
                                <input value="@(task.Key)" style="display: inline">
                                <button class="btn btn-primary">Apply</button>
                            </form>
                        </div>
                    </div>
                </td>
                <td>


                </td>
                <td>
                    <form method="post" asp-page-handler="DeleteTask" asp-route-id="@task.Key">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </table>
</div>

<script>
    const divs = document.querySelectorAll('.change');

    for (let i = 0; i < divs.length; i++) {
        const ChangeButton = divs[i].querySelector('#change');
        console.log(ChangeButton);
        ChangeButton.addEventListener('click', function () {
            const display = divs[i].querySelector('#displayDiv');
            const change = divs[i].querySelector('#changeDiv');
            console.log("switch")
            if (display.style.display === 'inline') {
                display.style.display = 'none';
                change.style.display = 'inline';

            } else {
                display.style.display = 'inline';
                change.style.display = 'none';
                console.log("switch")
            }
        });
    }

    function myFunction() {
        // Get the value of the selected option
        var selectedValue = document.getElementById("numPatients").value;

        // Clear the existing content of the myDiv element
        document.getElementById("patients").innerHTML = "";

        var newHidden = document.createElement("input")
        newHidden.setAttribute("type", "hidden");
        newHidden.setAttribute("value", selectedValue);
        document.getElementById("patients").appendChild(newHidden);

        // Create the specified number of div elements
        for (var i = 0; i < selectedValue; i++) {
            // Create a new div element
            var newDiv = document.createElement("div");

            // Create a label element
            var newLabel = document.createElement("label");
            newLabel.innerHTML = "Patient " + (i + 1) + " Name";
            newHidden.setAttribute("for", "patient");

            // Create a textarea element
            var newInput = document.createElement("input");
            newInput.setAttribute("type", "text");
            newInput.setAttribute("name", "patient");

            // Add the label and textarea elements to the new div element
            newDiv.appendChild(newLabel);
            newDiv.appendChild(newInput);

            // Add the new div element to the page
            document.getElementById("patients").appendChild(newDiv);
        }
    }
</script>
